
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Raleway|Roboto');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 18px;
    line-height: 1.5em;
    color: #3A4145;
	font-family: 'Fira Sans', sans-serif;
}

body {
	background-color: var(--color-2);
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
	background-size: 50px 50px;
	/*
	background-color: var(--color-2);
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
	*/
	/*
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: var(--color-2);
	background-size:16px 16px;
	*/
}

section, nav, header, footer {
	border-bottom: 1px solid black;
	padding: 10%;
	padding-bottom: 10vh;
	padding-top: 10vh;
	-webkit-clip-path: polygon(0 5.5vw, 100% 0, 100% calc(100% - 6vw), 0% calc(100% - 0.5vw));
	clip-path: polygon(0 5.5vw, 100% 0, 100% calc(100% - 6vw), 0% calc(100% - 0.5vw));
}



#banner {
	min-height: 90vh;
	margin: 0;
	text-align: center;
}

#banner .flex-container>div * {
	max-width: 90%;
	min-width: 45%;
	width: 200px;
	margin: 20px;
}

#page-title {
	font-weight: bolder;
	font-size: 3em;
	line-height: 1.5em;
}

#profile-picture {
	min-width: 30%;
	height: 100%;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.col-5 * {
	max-width: 95%;
	min-width: 15%;
	width: 50px;
	margin: 10px;
}

.col-3 * {
	max-width: 95%;
	min-width: 30%;
	width: 200px;
	margin: 10px;
}

.col-2 * {
	max-width: 95%;
	min-width: 45%;
	width: 300px;
	margin: 10px;
}

.card {
	border: 1px solid black;
}

.card>img {
	width: 30%;
	height: auto;
}

.circle {
	border-radius: 50%;
}

.col-5 .card>img {
	width: 80%;
	height: auto;
}

:root {
  --color-1: #FFFFFF; 
  --color-2: #A3E4FF; 
  --color-3: #93CDE5; 
  --color-4: #7AABBF; 
  --color-5: #FFFFFF; 
  --color-6: #FFFFFF; 
  --color-7: #FFFFFF; 
  --color-8: #FFFFFF; 
}