
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Raleway|Roboto');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 18px;
    line-height: 1.5em;
    color: #3A4145;
	font-family: 'Fira Sans', sans-serif;
}

section {
	border-bottom: 1px solid black;
	padding: 10%;
	padding-bottom: 30vh;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  	clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

#banner {
	min-height: 90vh;
	margin: 0;
	text-align: center;
}

#banner .flex-container>div * {
	max-width: 90%;
	min-width: 45%;
	width: 200px;
	margin: 20px;
}

#page-title {
	font-weight: bolder;
	font-size: 3em;
	line-height: 1.5em;
}

#profile-picture {
	min-width: 30%;
	height: 100%;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.col-3 * {
	max-width: 95%;
	min-width: 30%;
	width: 200px;
	margin: 10px;
}

.col-2 * {
	max-width: 95%;
	min-width: 45%;
	width: 300px;
	margin: 10px;
}

.card {
	border: 1px solid black;
}

.card>img {
	width: 30%;
	height: auto;
}

.circle {
	border-radius: 50%;
}

:root {
  --color-1: #FFFFFF; 
  --color-2: #A3E4FF; 
  --color-3: #93CDE5; 
  --color-4: #7AABBF; 
  --color-5: #FFFFFF; 
  --color-6: #FFFFFF; 
  --color-7: #FFFFFF; 
  --color-8: #FFFFFF; 
}