
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Raleway|Roboto');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 18px;
    line-height: 1.6em;
    color: #3A4145;
	font-family: 'Fira Sans', sans-serif;
}